.AnchorPane {

    -fx-background-color: #ffffff ; 
}
.Toppanel{

    -fx-background-color: #f3d516;
}



.button_connect {
    -fx-background-color: #f3d516; 
    -fx-background-radius: 40px; 
    -fx-border-color: #f12d2d  ;
    -fx-border-radius: 40px ; 
    -fx-font-family: "Opensans" ;
    -fx-font-size : 24px ; 
    -fx-text-fill: #ffffff ;
    
}


.button_connect:hover {
    -fx-background-color: #75cac3; 
}
.button_connect:pressed{
    -fx-background-color: #2A6171 ; 
}

.txtfiled{
    -fx-font-family: "Opensans" ;
    -fx-font-size : 18px ; 
    -fx-text-fill : #7d899f;
}

.label_erreur{
    -fx-font-family: "Opensans" ;
    -fx-font-size : 18px ; 
    -fx-text-fill : #EE4035;
    -fx-text-alignment: center ;
}

.Background-main {
    
    -fx-background-image: url("back1.jpg");
    -fx-background-repeat: stretch;  
    -fx-background-opacity:0.2  ;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 

}